@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/flex_layout'; // dopplex

$loading_time: 10;
[class*='btn'] {
	cursor: pointer
}

#get_started {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background-image: url('../img/bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	transition: 1s ease #{$loading_time + "s"};
	opacity: 1;
	.logo {
		width: 170px;
		margin: 0 auto 100px;
		img {
			width: 100%;
		}
	}
	.content {
		width: 100%;
	}
}
#get_started.out {
	opacity: 0;
	pointer-events: none;
}
#slide_img_loading {
	position: absolute;
	height: 120px;
	width: 120px;
	left: 0;
	right: 0;
	top: -30px;
	margin: 0 auto;
	animation:slideShow #{$loading_time / 3 * 2 + "s"} linear #{$loading_time / 3 + "s"} 1 both;
	.img {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 100px;
		width: 100px;
		border-radius: 5px;
		overflow: hidden;
		animation: gogo1 2s ease 0s infinite both;
		img {
			width: auto!important;
			height: 100%;
		}
	}
	.img:nth-child(4) { animation-delay: -1.5s }
	.img:nth-child(3) { animation-delay: -1s }
	.img:nth-child(2) { animation-delay: -0.5s }
	.img:nth-child(1) { animation-delay:  0s }
}
@keyframes gogo1 {
		0% { transform: translateY(-30px) scale(0.85); z-index: 1}
	 25% { transform: translateY(-20px) scale(0.9); z-index: 2}
	 50% { transform: translateY(-10px) scale(0.95);  z-index: 3}
	 75% { transform: translateY(0px) scale(1); opacity: 1; z-index: 4}
	100% { transform: translateY(-50px) scale(1); opacity: 0; z-index: 5}
}
@keyframes slideShow {
		 0% { opacity: 0 }
		10% { opacity: 1 }
	 100% { opacity: 1 }
}
@keyframes slideHide {
		 0% { opacity: 1 }
		99% { opacity: 1 }
	 100% { opacity: 0 }
}
#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	display: none;
	background-color: rgba(0,0,0,.7);
	.content {
		position: relative;
		padding: 50px 0;
		max-width: 250px;
		background-color: rgba(0,0,0,.7);
		border-radius: 10px;
		&>img { 
			width: 30px; 
			animation: slideHide #{$loading_time / 3 + "s"} linear 0s 1 both;
		}
	}
	&.show {
		display: flex;
	}
	.pg {
		position: relative;
		width: 150px;
		height: 4px;
		border-radius: 10px;
		margin: 30px auto 0;
		background-color: rgba(255,255,255,.2)
	}
	.pg-m {
		position: absolute;
		left: 0;
		top: 0;
		width: 0%;
		height: 100%;
		border-radius: 10px;
		background-color: rgba(255,255,255,.5);
		animation: pg #{$loading_time + "s"} linear both;
	}
	@keyframes pg {
		10%   { width: 0%; }
		30%  { width: 10%; }
		50%  { width: 30%; }
		80%  { width: 30%; }
		90%  { width: 90%; }
		95%  { width: 90%; }
		100% { width: 100%; }
	}
}

.hr {
	width: 170px;
	margin: 15px auto;
	position: relative;
	letter-spacing: 0;
	color: rgba(255,255,255,.6);
	&:after, &:before {
		content: '';
		position: absolute;
		width: calc( 50% - 20px );
		height: 1px;
		left: 0;
		right: auto;
		background-color: rgba(255,255,255,.6);
		bottom: 0;
		top: 0;
		margin: auto;
	}
	&:before {
		right: 0;
		left: auto;
	}
}

.recommend-card {
	width: 100%;
	min-height: 100vh;
	background-image: url('https://c2.staticflickr.com/4/3941/33331682786_be98c08d8e_k.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.recommend-content {
	width: 89%;
	max-width: 360px;
}

.recommend-img {
	position: relative;
	width: 88%;
	margin: 0 auto;
	z-index: 3;
	border-radius: 100px;
	box-shadow: 0 5px 35px 0 rgba(0,0,0,.4);
}


.recommend-slide li {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	&:after {
		content: '';
		display: block;
		padding-top: 100%;
	}
}
.recommend-slide li:nth-child(1) {
	background-image: url('../img/spots/1.png');
}
.recommend-slide li:nth-child(2) {
	background-image: url('../img/spots/2.png');
}
.recommend-slide li:nth-child(3) {
	background-image: url('../img/spots/3.png');
}
.recommend-slide li:nth-child(4) {
	background-image: url('../img/spots/4.png');
}
.recommend-text {
	background-color: rgba(255,255,255,1);
	padding: 50px 8% 30px;
	border-radius: 8px;
	position: relative;
	top: -35px;
	animation: none .4s ease both;
}
@keyframes slideLeft {
	0%   { transform: translateX(-50%);  opacity: 0;}
	100% { transform: translateX(0%); opacity: 1;}
}

.only-need {
	font-size: 0;
	letter-spacing: 0;
	margin-bottom: 30px;
}
.only-need-left, .only-need-right {
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: middle;
	margin: 5px 0 10px;
}
.only-need-left {
	font-size: 24px;
	color: $main;
	box-shadow: inset -1px 0 0 0 rgba(0,0,0,.15);
	font-family: $p600;
	font-weight: 600;
	letter-spacing: 1px;
}
.only-need-right {
	font-size: 13px;
	color: rgba(0,0,0,.5);
	padding-left: 10px;
}
.only-need-bottom {
	font-size: 12px;
	text-align: left;
	color: rgba(0,0,0,.7);
	b {
		color: #FF614B;
		margin-left: 10px;
	}
}
.recommend-slide img {
	width: 100%;
}

.recommend-check-content {
	display: none;
}

.check .recommend-check-content {
	display: block;
	position: relative;
	top: -70px;
	z-index: 30;
}

@keyframes showUp {
	  0% { opacity: 0; transform: translateY(20%); }
	100% { opacity: 1; transform: translateY(0%);}
}

.check .recommend-card {
	display: block;
	background-color: #DFE8EE;
	background-image: none;
}

.check .recommend-content {
	min-width: 100%;
	min-height: 100%;
	padding-bottom: 10px;
	margin: 0 auto;
	transition: 0.3 ease;
}

.check .recommend-img {
	width: 100%;
}
.check .recommend-img li {
	height: 250px;
	border-radius: 0;
}
.check .recommend-img li:after {
	display: none;
}

.check .recommend-text {
	display: none;
}

.check #try-next {
	display: none;
}

.check .check-back-btn {
	display: flex;
	align-items: center;
}

.check-back-btn {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	width: 30px;
	line-height: 30px;
	background-color: rgba(255,255,255,.9);
	border-radius: 30px;
	color: rgba(0,0,0,.3);
	z-index: 100;
}

.recommend-check-top, .recommend-check-bottom {
	background-color: #fff;
	border-radius: 8px;
	margin: 10px;
	box-shadow: 0 3px 4px 0px rgba(0,0,0,.1);
	padding: 20px 0;
	animation: showUp .7s cubic-bezier(0.1, 0.93, 0.6, 1.22) both;
}
.recommend-check-top {
	padding-bottom: 10px;
}
.recommend-check-bottom {
	padding: 8px 0;
	animation-delay: .4s;
}

.recommend-check-top h2 {
	color: rgba(0,0,0,.4);
	font-family: $p400;
	text-align: center;
}

.recommend-check-top h3 {
	text-align: center;
	font-size: 24px;
	color: $main;
	font-family: $p400;
	margin: 8px 0;
	letter-spacing: 2px;
}

.recommend-check-date {
	opacity: .7;
	box-shadow: 0 1px 0 0 rgba( 0,0,0,.15 );
	padding-bottom: 15px;
	margin: 5px 15px 8px;
	color: $main;
}

.recommend-check-date b {
	color: $main;
	font-family: $p200;
	font-size: 17px;
	display: block;
	line-height: 1;
	letter-spacing: 1px;
}
.recommend-check-date span {
	display: inline-block;
	color: $main;
	padding: 0 10px;
	font-size: 12px;
}
.recommend-check-madeby {
	font-size: 0;
	letter-spacing: 0;
	padding: 0 20px;
}

.recommend-check-madeby .text {
	display: inline-block;
	width: 60%;
	text-align: left;
	font-size: 13px;
	height: 37px;
	color: rgba(0,0,0,.25);
	font-family: $p600;
	vertical-align: middle
}

.recommend-check-madeby .photos {
	display: inline-flex;
	width: 40%;
	height: 37px;
	vertical-align: middle;
	overflow: hidden;
	.box {
		flex: 0 0 auto;
		height: 30px;
		width: 30px;
		overflow: hidden;
		margin: 0 2px;
	}
	img {
		border-radius: 3px;
		height: 100%;
	}
}

.card {
	padding-top: 10px;
	padding-bottom: 8px;
	box-shadow: 0 15px 0 -14px rgba(0,0,0,.15);
}
.card-last {
	box-shadow: 0 0 0 0 rgba(0,0,0,.15);
}
.card-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	cursor: pointer;
	.icon {
		height: 100%;
		width: 60px;
		box-shadow: inset 4px 0 0 #FB9E00;
		flex: 0 0 auto;
		padding-left: 10px;
	}
	.icon.blue {
		box-shadow: inset 4px 0 0 $main;
	}
	.icon.red {
		box-shadow: inset 4px 0 0 #FF5C4D;
	}
	img {
		height: 100%;
	}
	.words {
		font-family: $p600;
	}
}

.card-content {
	padding: 0 25px;
}

.card-content>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 7px 0;
}

.fight-list-logo {
	font-size: 12px;
	opacity: .3;
}

.list-where {
	flex: 1 0 auto;
	text-align: left;
	padding-left: 15px;
	font-size: 13px;
	h2 {
		color: rgba(0,0,0,.7);
		font-family: $p500;
		font-weight: 500;
	}
	span {
		font-size: 12px;
		color: rgba(0,0,0,.3);
		font-family: $p500;
		i {
			color: #72CFDE;
			margin-right: 5px;
		}
	}
}

.list-price {
	color: $main;
	box-shadow: inset 1px 0 0 0 rgba(0,0,0,.2);
	padding-left: 20px;
	font-size: 13px;
	font-family: $p500;
	font-weight: 500;
	text-align: right;
	span {
		color: #FB9E00;
		font-size: 12px;
	}
}

.booking-list-img {
	width: 50px;
	height: 50px;
	flex: 0 0 auto;
	overflow: hidden;
	img {
		height: 100%;
		border-radius: 5px;
	}
}

.card-more {
	opacity: .25;
	margin-top: 20px;
}

.check-btn {
	background-image: $g;
	width: 100%;
	line-height: 40px;
	color: rgba(255,255,255,1);
	font-size: 18px;
	font-family: $p200;
	font-weight: 200;
	letter-spacing: 2px;
	border-radius: 5px;
}

.instagram-btn, .upload-btn {
	background-image: $g1;
	width: 100%;
	max-width: 220px;
	line-height: 40px;
	color: rgba(255,255,255,1);
	font-size: 14px;
	font-family: $p200;
	font-weight: 200;
	letter-spacing: 2px;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	i {
		font-size: 20px;
		vertical-align: middle;
		box-shadow: 1px 0 0 0 rgba(255,255,255,.5);
		padding-right: 11px;
		margin-right: 11px;
		line-height: 40px;
	}
}
.upload-btn {
	padding-right: 12px;
	background-image: none;
	background-color: rgba(255,255,255,.8);
	color: rgba(0,0,0,.2);
	font-family: $p500;
	font-weight: 500;
}
.upload-btn i {
	padding-right: 11px;
	margin-right: 18px;
	box-shadow: 1px 0 0 0 rgba(0,0,0,.05);
}
#try-next {
	position: absolute;
	bottom: 10px;
	right: 5.5%;
	background-color: rgba(255,255,255,.5);
	width: 130px;
	line-height: 36px;
	color: $main;
	border-radius: 20px;
	opacity: .6;
}

/// unslier

.unslider {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
  opacity: .4; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 0px;
  z-index: 2;
  cursor: pointer; }

.unslider-arrow.next {
  left: auto;
  right: 0px; 
}

.unslider nav {
  width: 100%;
  position: absolute;
  bottom: 5%; 
}
.unslider nav ol {
	text-align: center; 
}
.unslider nav ol li {
	display: inline-block;
	margin: 10px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	transition: .3s ease;
	font-size: 0;
	cursor: pointer; 
}
.unslider nav ol li.unslider-active {
background-color: rgba(0, 0, 0, 0.3); 
}

.unslider-arrow {
  font-size: 0;
  top: 0;
  height: 100%;
  width: 15%;
  right: 0;
  background-image: url("../img/icons/arrow.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: .7;
  transition: .3s ease;
  z-index: 10; 
}
.unslider-arrow:hover {
	opacity: 1; 
}

.unslider-arrow.next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); 
}

.spot-img {
	background: #ddd;
	width:30%;
	padding-bottom: 30%;
	margin: 1%;
	border-radius: 5px;
	background-position: center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.input-hidden {
	display: none;
}